
body{
 background-color: #3B3B3B;
 color: #FFFFF0;
 font-family: 'Playfair Display', serif;
 padding: 0;
 clear: left;
 overflow-y: auto;
 overflow-x: hidden;
 margin: 0;
}
  
body::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar{
 width: 6px;
}

::-webkit-scrollbar-track{
 background: #111;
}
 
::-webkit-scrollbar-thumb{
 background: linear-gradient(#2e7d32, #81c784);
}

.bold-text{
 font-weight: bold;
 font-family: 'Georgia', serif;
 font-size: 1.5em;
 color: rgb(11,12,12);
 background-color: #353839;
 padding: 10px 5px 5px;
 max-width: 450px;
 margin: 50px auto;
 border-radius: 6px;
 transition: all 0.3s ease;
 box-shadow:0 4px 6px rgba(0,0,0,0.1);
 text-align: center;
 display: block;

}

.bold-text:hover{
 transform: translateY(-5px);
 box-shadow: 0 12px 18px rgba(0,0,0,0.2);
 backdrop-filter: blur(5px);
 border-radius: 10px;
 background-color: #16201A;
 color: #EDEDED;
}
   

.navbar{
  display: flex;
  justify-content: center;   
  margin: 50px 0;
  gap: 40px; 
  clear: both;
  
}

.navbar a.active{
 background: #2F4F4F;
 border-radius: 20px;
 color: white;
 

}
 
.navbar a{
  text-decoration: none;
  color: #EDEDED;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background color 0.3s, transform 0.5s;
 
}

.navbar a:hover {
  background-color: #1E1E1E;
  transform: translateY(-2px); 
} 


.top-gradient {
 width: 100%;
 height: 80px;
 pointer-events: none;
 background: linear-gradient(to right, #8C5E3C, #F2E2C4);
 z-index: 10; 
}


.intro-text {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;  
}


.intro-text video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1.5px);
  transform: scale(1.05);
  z-index: 0;   /* sits behind content*/
 
}

.intro-text .overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.3);
  padding:10px 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}


 div.gallery {
 column-count: 3;
  column-gap: 25px;
  max-width: 1200px;
  margin: auto;
}

div.gallery-item {
  position: relative;
  margin: 5px;
  break-inside: avoid;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden; 
  cursor: pointer;
  transition: transform 0.3s ease;
 
}

div.gallery-item:hover .desc {
  opacity: 1;
}

div.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: 0.4s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

div.gallery-item div.desc {  
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 padding: 10px;
 text-align: center;
 color: #E0F7FA; 
 opacity: 0;
 transition: opacity 0.4s ease;
}

.about-section{
    max-width: 900px;
    margin: 120px auto;
    text-align: center;
    padding: 60px;
    background: rgba(255,255,255,0.04);
    border-radius: 25px;
    backdrop-filter: blur(12px);
}

.about-section h2{
    font-size: 2.5em;
    margin-bottom: 25px;
}

.about-section p{
    font-size: 1.15em;
    line-height: 1.8;
    color: #e0f2f1;
}

