html{
   scroll-behavior: smooth;
}


body{
 background-color: #3B3B3B;
 color: #FFFFF0;
 font-family: 'Playfair Display', serif;
 padding: 0;
 clear: left;
 overflow-y: visible;
 margin: 0;
}
  
::-webkit-scrollbar{
 width: 6px;
}

::-webkit-scrollbar-track{
 background: #111;
}
 
::-webkit-scrollbar-thumb{
 background: linear-gradient(#2e7d32, #81c784);
}

.bold-text{
 font-weight: bold;
 font-family: 'Georgia', serif;
 font-size: 1.5em;
 color: rgb(11,12,12);
 background-color: #353839;
 padding: 10px 5px 5px;
 max-width: 450px;
 margin: 50px auto;
 border-radius: 6px;
 transition: all 0.3s ease;
 box-shadow:0 4px 6px rgba(0,0,0,0.1);
 text-align: center;
 display: block;

}

.bold-text:hover{
 transform: translateY(-5px);
 box-shadow: 0 12px 18px rgba(0,0,0,0.2);
 backdrop-filter: blur(5px);
 border-radius: 10px;
 background-color: #16201A;
 color: #EDEDED;
}
   

.navbar{
  display: flex;
  justify-content: center;   
  margin: 50px 0;
  gap: 40px; 
  clear: both;
  
}

.navbar a.active{
 background: #2F4F4F;
 border-radius: 20px;
 color: white;
 

}
 
.navbar a{
  text-decoration: none;
  color: #EDEDED;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background color 0.3s, transform 0.5s;
 
}

.navbar a:hover {
  background-color: #1E1E1E;
  transform: translateY(-2px); 
} 


.intro-text {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;  
}


.intro-text video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1.5px);
  transform: scale(1.05);
  z-index: 0;   /* sits behind content*/
 
}

.intro-text .overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.3);
  padding:10px 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

.slider-container{
    overflow-x: auto;
    padding: 40px 0;
    scroll-behavior: smooth;
}


.slider-track{
    display: flex;
    gap: 20px;
    padding: 0 40px;
    width: max-content;
}

.slider-card{
    min-width: 280px;
    border-radius: 20px;
    overflow: hidden;
}

.slider-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}
 
/* Match delays */
.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(1) .caption { animation-delay: 0s; }

.slide:nth-child(2) { animation-delay: 4s; }
.slide:nth-child(2) .caption { animation-delay: 4s; }

.slide:nth-child(3) { animation-delay: 8s; }
.slide:nth-child(3) .caption { animation-delay: 8s; }


@keyframes fade {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fadeText {
    0% { opacity: 0; transform: translate(-50%, 20px); }
    5% { opacity: 1; transform: translate(-50%, 0); }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

.about-section{
    max-width: 900px;
    margin: 120px auto;
    text-align: center;
    padding: 60px;
    background: rgba(255,255,255,0.04);
    border-radius: 25px;
    backdrop-filter: blur(12px);
}

.about-section h2{
    font-size: 2.5em;
    margin-bottom: 25px;
}

.about-section p{
    font-size: 1.15em;
    line-height: 1.8;
    color: #e0f2f1;
}

.hero{
    position: relative;
    height: 70vh; /* Only top portion */
    overflow: hidden;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
  }


.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

/* Scroll Arrow */

.scroll-down{
    scroll-behavior: smooth;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 2rem;
    color: white;
    text-decoration: none;
    z-index: 3;
    animation: bounce 1.5s infinite;
}

@keyframes bounce{
    0%,100%{ transform: translate(-50%, 0); }
    50%{ transform: translate(-50%, 10px); }
}
 



.credit{
    text-align: center;
    font-size: 0.9em;
    color: #cfd8dc;
    margin-top: 10px;
    font-style: italic;
}
